.App {
  text-align: center;
}

.enterloc {
  width: 25%;
  margin: 40px 10px;
  margin-bottom: 50px;
  padding: 10px 25px 10px 10px;
  background: #a1d3e6;
  border-radius: 30px;
  cursor: text;
  border: none;
}

.forecast {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  margin: 20px;
}
